<h1>Bonjour! Merci de bien vouloir confirmer votre email!</h1>

<p>
    Merci de vien vouloir confirmer votre adresse email en cliquant sur le lien ci-dessous : <br><br>
    <a href="{{ signedUrl }}">Confirmer votre email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientôt sur notre site ! 
</p>
