{% extends 'base.html.twig' %}

{% block title %}Email envoyé{% endblock %}

{% block body %}
    <div class = "emailSent">
        <p>
            Si un compte correspondant à votre adresse e-mail existe, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
            Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}"><span>c</span><span>l</span><span>i</span><span>q</span><span>u</span><span>e</span><span>z</span> <span>i</span><span>c</span><span>i</span></a> pour envoyer un nouvel email.</p>
    </div>
{% endblock %}
