{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <div class="row cards">
        {% for product in allProductsFromMatter %}
            {% if product.matter.id == matter.id %}           
                <div class="col-lg-3 col-12">
                    <div class="card cardProducts">
                    <img class="card-img-top" src="{{'/images/products/' ~ product.picture}}" alt="Card image cap">  
                        <div class="card-body">
                            <h3>{{product.name}}</h3>
                            <p>{{product.description}}</p>
                            <button class="btnDetailsProduct"><a href="{{ path('app_details_products', { id:product.id }) }}">Détails</a></button>
                        </div>
                    </div>        
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}